body {
  margin: 0;
  padding: 0;
  font-family: Arial,
    Helvetica,
    sans-serif;
  color: #343a40;
  /* Default text color charcoal grey. */
}

nav {
  border-bottom: 1px solid black;
  padding: 5px;
}

main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.logo-image {
  max-height: 90px;
  margin: 5px;
}

/* Note: Flex only applies to direct children! */
form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 5px;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid lightgray;
  margin-top: 2px;
}

form input:focus {
  border: 2px solid lightgray;
}

form button {
  background-color: #343a40;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}


a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
