:root {
  --color-dark-gray: #343a40;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial,
    Helvetica,
    sans-serif;
  color: var(--color-dark-gray)
}

nav {
  border-bottom: 1px solid black;
  padding: 5px;
}

main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.logo-image {
  max-height: 70px;
  margin: 5px;
}

.auth-footer {
  text-align: center;
}

/* Note: Flex only applies to direct children! */
form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 5px;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid lightgray;
}

form input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

form button {
  background-color: var(--color-dark-gray);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

form button:hover {
  background-color: black;
  cursor: pointer;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}


.internal-error-banner {
  background-color: palevioletred;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  text-align: center;
  margin-top: 10px;
  color: white;
}
