{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GoChat</title>
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	<body>
		<nav>
			<a class="nostyle" href="/">
				<img class="logo-image" alt="a gopher chatting" src="/static/img/logo.png">
			</a>

			{{ if .user }}
			<h3>{{.user.Username}}</h3>
			<a href="/logout"><h3>{{.user.Username}}</h3></a>
			{{ end }}
		</nav>

		{{ if .isShowingInternalError }}
		<div class="internal-error-banner">
			<h3>An internal error occured.</h3>
		</div>
		{{ end }}

		<main>
			{{ end }}
			{{ define "footer" }}
		</main>
	</body>
</html>
{{ end }}
