{{ template "header" . }}
<h1>Login</h1>
<form method="POST">

	{{ if .areCredentialsInvalid }}
	<small style="color: red;">We couldn't find a user with the given credentials.</small>
	{{ end }}

	<div>
		<label for="username">Username</label>
		<input type="text" id="username" name="username" value="{{.form.Username}}">
	</div>

	<div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password">
	</div>
	<button>Log In</button>
</form>
<p class="auth-footer">Don't have an account? <a href="/signup">Sign up</a></p>
{{ template "footer" . }}
