{{ template "header" . }}
<h1>Sign Up</h1>

<form method="POST">

	<div>
		<label for="username">Username</label>

		<input type="text" id="username" name="username" value="{{ .form.Username }}" required>

		{{ if index .errors "Username" }}
		<small style="color: red;">{{ index .errors "Username" }}</small>
		{{ end }}
	</div>

	<div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required>

		{{ if index .errors "Password" }}
		<small style="color: red;">{{ index .errors "Password" }}</small>
		{{ end }}
	</div>

	<div>
		<label for="confirm-password">Confirm Password</label>
		<input type="password" id="confirm-password" name="confirm-password" required>

		{{ if index .errors "ConfirmPassword" }}
		<small style="color: red;">{{ index .errors "ConfirmPassword" }}</small>
		{{ end }}
	</div>

	<button>Sign Up</button>
</form>

<p class="auth-footer">Already have an account? <a href="/login">Login</a></p>
{{ template "footer" . }}
